{% load staticfiles %}
<html>
    <head>
        <title> FYP - EDU </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <h1> FYP-EDU</h1>
                    <p class="top-menu">Hello {{ user.username }} </p>
                    <a href="{% url 'subject_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>